# (Core) Project 4 - Part 1
Task:
Your task is to answer a series of questions about trends in crimes in Chicago for a reporter for the local newspaper.

   - Stakeholder Questions to Answer (pick at least 3 topics) Select 3 or more of the following topics to analyze:
- 1) Comparing Police Districts:
        - Which district has the most crimes? Which has the least?
- 2) Crimes Across the Years:
        - Is the total number of crimes increasing or decreasing across the years?
        - Are there any individual crimes that are doing the opposite (e.g decreasing when overall crime is increasing or vice-versa)?
- 3) Comparing AM vs. PM Rush Hour:
        - Are crimes more common during AM rush hour or PM rush hour?
        - You can consider any crime that occurred between 7 AM - 10 AM as AM rush hour
        - You can consider any crime that occurred between 4 -7 PM as PM rush hour.
        - What are the top 5 most common crimes during AM rush hour? What are the top 5 most common crimes during PM rush hour?
        - Are Motor Vehicle Thefts more common during AM rush hour or PM Rush Hour?
- 4) Comparing Months:
        - What months have the most crime? What months have the least?
        - Are there any individual crimes that do not follow this pattern? If so, which crimes?
- 5) Comparing Holidays:
        - Are there any holidays that show an increase in the # of crimes?
        - Are there any holidays that show a decrease in the # of crimes?

In [7]:
import glob
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
folder = "Data/Chicago/"
crime_files = sorted(glob.glob(folder+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])
display(df.head(5))
df.info()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1330412,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1813,18.0,NaN,41.917383,-87.648623
1,1312557,01/01/2001 01:00:00 PM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,513,5.0,NaN,41.695025,-87.620629
2,1310741,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,False,1722,17.0,NaN,41.967833,-87.739978
3,1315987,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,CHA APARTMENT,False,False,1823,18.0,NaN,41.899860,-87.639877
4,1312658,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,STREET,False,False,2534,25.0,NaN,41.915450,-87.726575

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3167123 entries, 0 to 1234
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 271.8+ MB

In [9]:
# Finding Missing Values
df.isna().sum()

ID                           0
Date                         0
Primary Type                 0
Description                  0
Location Description      3915
Arrest                       0
Domestic                     0
Beat                         0
District                     3
Ward                    586712
Latitude                 12131
Longitude                12131
Datetime                     0
dtype: int64

## Comparing Police Districts:
- Which district has the most crimes? Which has the least?

In [3]:
values = df["District"].value_counts().keys().tolist()
counts = df["District"].value_counts().tolist()
print(f"District {values[0]} had the most crimes with {counts[0]} and District {values[-3]} had the least crimes with {counts[-3]}")
## Sidenote: District 21 and 31 are special units

District 8.0 had the most crimes with 206105 and District 20.0 had the least crimes with 57600

## Comparing Months:
- What months have the most crime? What months have the least?
- Are there any individual crimes that do not follow this pattern? If so, which crimes?

In [18]:
df["Primary Type"].value_counts()

THEFT                                666640
BATTERY                              594756
CRIMINAL DAMAGE                      364592
NARCOTICS                            292657
OTHER OFFENSE                        207950
ASSAULT                              207255
BURGLARY                             164515
MOTOR VEHICLE THEFT                  150721
DECEPTIVE PRACTICE                   137181
ROBBERY                              119396
CRIMINAL TRESPASS                     93213
WEAPONS VIOLATION                     38369
PROSTITUTION                          31710
OFFENSE INVOLVING CHILDREN            21011
PUBLIC PEACE VIOLATION                18200
SEX OFFENSE                           13032
CRIM SEXUAL ASSAULT                   12689
INTERFERENCE WITH PUBLIC OFFICER       6786
LIQUOR LAW VIOLATION                   6670
ARSON                                  5701
GAMBLING                               5102
KIDNAPPING                             3846
INTIMIDATION                           2049
STALKING                               1678
CONCEALED CARRY LICENSE VIOLATION       377
OBSCENITY                               349
CRIMINAL SEXUAL ASSAULT                 298
NON-CRIMINAL                            135
PUBLIC INDECENCY                         79
OTHER NARCOTIC VIOLATION                 47
HUMAN TRAFFICKING                        44
HOMICIDE                                 40
NON - CRIMINAL                           15
RITUALISM                                13
NON-CRIMINAL (SUBJECT SPECIFIED)          6
DOMESTIC VIOLENCE                         1
Name: Primary Type, dtype: int64

In [20]:
# What months have the most crime? What months have the least?
df["Month"] = df["Datetime"].dt.month_name()
value_month = df["Month"].value_counts().keys().tolist()
counts_month = df["Month"].value_counts().tolist()

print(f"{value_month[0]} had the most crimes with {counts_month[0]} and {value_month[-1]} had the least crimes with {counts_month[-1]}")

May had the most crimes with 298288 and December had the least crimes with 224352

## Comparing Holidays:
- Are there any holidays that show an increase in the # of crimes?
- Are there any holidays that show a decrease in the # of crimes?

In [27]:
import holidays
from holidays import country_holidays
holidays = country_holidays("US")

In [29]:
df["Holiday"] = df["Datetime"].map(holidays.get)
df["Holiday"].value_counts()

New Year's Day                                     12463
Independence Day                                    9555
Memorial Day                                        9139
Columbus Day                                        8589
Labor Day                                           8232
Washington's Birthday                               7809
Veterans Day                                        7758
Martin Luther King Jr. Day                          7627
Thanksgiving                                        5581
Christmas Day                                       4579
Veterans Day (Observed)                             2522
Independence Day (Observed)                         2114
New Year's Day (Observed)                           1666
Christmas Day (Observed)                            1446
Juneteenth National Independence Day (Observed)        1
Name: Holiday, dtype: int64