# (Core) Project 4 - Part 1
Task:
Your task is to answer a series of questions about trends in crimes in Chicago for a reporter for the local newspaper.

   - Stakeholder Questions to Answer (pick at least 3 topics) Select 3 or more of the following topics to analyze:
- 1) Comparing Police Districts:
        - Which district has the most crimes? Which has the least?
- 2) Crimes Across the Years:
        - Is the total number of crimes increasing or decreasing across the years?
        - Are there any individual crimes that are doing the opposite (e.g decreasing when overall crime is increasing or vice-versa)?
- 3) Comparing AM vs. PM Rush Hour:
        - Are crimes more common during AM rush hour or PM rush hour?
        - You can consider any crime that occurred between 7 AM - 10 AM as AM rush hour
        - You can consider any crime that occurred between 4 -7 PM as PM rush hour.
        - What are the top 5 most common crimes during AM rush hour? What are the top 5 most common crimes during PM rush hour?
        - Are Motor Vehicle Thefts more common during AM rush hour or PM Rush Hour?
- 4) Comparing Months:
        - What months have the most crime? What months have the least?
        - Are there any individual crimes that do not follow this pattern? If so, which crimes?
- 5) Comparing Holidays:
        - Are there any holidays that show an increase in the # of crimes?
        - Are there any holidays that show a decrease in the # of crimes?

In [26]:
import glob
import pandas as pd
import datetime as dt

In [4]:
folder = "Data/Chicago/"
crime_files = sorted(glob.glob(folder+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])
display(df)
df.info()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1330412,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1813,18.0,NaN,41.917383,-87.648623
1,1312557,01/01/2001 01:00:00 PM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,513,5.0,NaN,41.695025,-87.620629
2,1310741,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,False,1722,17.0,NaN,41.967833,-87.739978
3,1315987,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,CHA APARTMENT,False,False,1823,18.0,NaN,41.899860,-87.639877
4,1312658,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,STREET,False,False,2534,25.0,NaN,41.915450,-87.726575
...,...,...,...,...,...,...,...,...,...,...,...,...
1230,12934648,12/27/2022 05:30:00 PM,THEFT,OVER $500,RESIDENCE,False,False,423,4.0,7.0,41.726358,-87.556164
1231,12938871,12/27/2022 06:00:00 PM,THEFT,OVER $500,RESIDENCE,False,False,1234,12.0,25.0,41.854880,-87.679287
1232,12934441,12/27/2022 07:47:00 PM,BATTERY,AGGRAVATED - HANDGUN,STREET,False,False,231,2.0,3.0,41.799743,-87.617728
1233,12933690,12/27/2022 08:00:00 AM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,331,3.0,5.0,41.771185,-87.569912
1234,12934459,12/27/2022 10:38:00 PM,ASSAULT,SIMPLE,APARTMENT,False,True,822,8.0,23.0,41.788908,-87.705872

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3167123 entries, 0 to 1234
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 271.8+ MB

## Comparing Police Districts:
- Which district has the most crimes? Which has the least?

In [20]:
values = df["District"].value_counts().keys().tolist()
counts = df["District"].value_counts().tolist()
print(f"District {values[0]} had the most crimes with {counts[0]} and District {values[-3]} had the least crimes with {counts[-3]}")
## Sidenote: District 21 and 31 are special units

District 8.0 had the most crimes with 206105 and District 20.0 had the least crimes with 57600

## Comparing Months:
- What months have the most crime? What months have the least?
- Are there any individual crimes that do not follow this pattern? If so, which crimes?

In [28]:
df["Datetime"] = pd.to_datetime(df["Date"])
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,Datetime
0,1330412,01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,1813,18.0,NaN,41.917383,-87.648623,2001-01-01 01:00:00
1,1312557,01/01/2001 01:00:00 PM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,513,5.0,NaN,41.695025,-87.620629,2001-01-01 13:00:00
2,1310741,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,False,1722,17.0,NaN,41.967833,-87.739978,2001-01-01 13:00:00
3,1315987,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,CHA APARTMENT,False,False,1823,18.0,NaN,41.899860,-87.639877,2001-01-01 01:00:00
4,1312658,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,STREET,False,False,2534,25.0,NaN,41.915450,-87.726575,2001-01-01 01:00:00